*{margin:0;}

:root {
	--color:#d2ddd8; /* silver */
	--back0:#000000; /* Black */
	--back1:#641216; /* maroon */
	--back2:#f18e26; /* goldenrod */
	--back3:#1d7990; /* teal */
	--nav-height:3em;
	
	--wlcm-height:100vh;
	--wlcm-card-height:25vh;
}

body {
	color:var(--color);
	background-color:var(--back0);
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
}

h1 {font-size:40px;}
h2 {font-size:30px;}

p {
	margin-top:1em;
	font-size:20px;
	line-height:1em;
}

#nav-wrapper {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:var(--nav-height);
	background-image: linear-gradient(var(--back1), var(--back0));
	z-index:1;
}

ul {
	display:flex;
	justify-content:flex-end;
}

ul li {
	text-decoration:none;
	list-style:none;
	padding:.5em;
	font-size:1.5em;
	font-weight:600;
}

a {
	color:var(--back2);
	text-decoration:none;
}

ul li a {color:var(--color);}

#welcome-wrapper{
	margin-top:var(--nav-height);
	height:var(--wlcm-height);
	background-color:var(--back0);
}

#welcome {
	display:flex;
	flex-direction:column;
	width:40vw;
	height:var(--wlcm-card-height);
	margin:auto;
	position:relative;
	top:calc(calc(var(--wlcm-height) / 2) - var(--wlcm-card-height));
	color:var(--back0);
	background-color:rgba(241,142,38,.75);
	border-radius:10px;
	text-align:center;
	justify-content:center;
	padding:1em;
	padding:2em;
}

@media (max-width:800px) {
	
}